.nav-bar{
    height: 80px;
    background-color:#2c3e50;
}

.green{
    height: 500px;
    margin-bottom: 50px;
    background-color: #1abc9c;

}

.section-container{
    background-color: #1abc9c;
    
}


.center {
    display: flex;
    align-items:center;
    justify-content: center;
    
}


.avatar{
    width: 250px;
    height: auto;
    margin-bottom: 15px;
}    

.avatar img{
    width: 100%;
    
}

.titolo-boxes{
    margin-top:30px;
    margin-bottom: 35px;
}

.about-content{
    color: white;
    /* height: 300px; */

}

.mg-all-bot{
    margin-bottom: 60px;
}


.item{
    margin-bottom: 24px;

}

.line-star, .star-top, .about-star, .footer-star{
    display:inline-block;
    font-size: 18px;
}

    

.item img{
    width:100%;
    height: auto;
    border-radius: 25px;
    

}

.lorem p{
    background-color: thistle;
    color:white;
}

.download button{
    background-color:#1abc9c;
    border-color: #fff;
}

.form{
    background-color: whitesmoke;
}

.input-row{
    width: 100%;
    border: none;
    border-bottom: #e3e3e3 1px solid;
    margin-bottom: 25px;
    }
    
    #message{
        height: 80px;
    }

.footer{
    background-color:#3a546d ;
    height: 150px;
    color: white;
}
.last-footer{
    background-color: #2c3e50;
    height: 50px;
    color: white;
}